# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data

# Ignorar archivos de datos pesados
data/raw/*
data/processed/*

# Mantener estructura de carpetas
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.joblib

# Logs
logs/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db