# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*.pkl
models/*.joblib

# Logs
logs/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db